body {
        background-image: url("/Images/tasklist.jpg") ;
        background-repeat: repeat;
        
}

.container{
    background-color: aliceblue;
    
}

.complete{
    text-decoration: dotted;
}